#contenedorPrincipal {
  width: 80%;
  margin-left: 10%;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: rgb(228, 228, 228);
}
h2 {
  margin-left: 2%;
  font-weight: bold;
  float: left;
}
form {
  margin-right: 2%;
  float: right;
}
input{
  border-radius: 10px;
}
#boton {
  background-color: rgb(9, 228, 9);
}
#boton:hover {
  background-color: rgb(167, 243, 167);
}
nav {
  background-color: rgb(78, 76, 76);
  height: 50px;
  clear: both;
}
a {
  color: aliceblue;
  text-decoration: none;
  display: block;
  padding: 15px 30px;
}
a:hover {
  background-color: rgb(228, 228, 228);
  color: rgb(78, 76, 76);
}
#inicio {
  float: left;
}
#galeria {
  float: left;
}
#acerca {
  float: left;
}
#contacto {
  float: left;
}
/*ESTILOS FOTOS*/
section{
  width: 99%;
  margin-left: 0.5%;
}
.contenedorIzq{
  float: left;
  width: 27%;
}
.contenedorIzq img{
  padding: 3px;
  height: 100%;
  width: 98%;
}
.contenedorSup, .contenedorInf{
  float:right;
  height: 45%;
  width: 73%;
  display: flex; 
}
.contenedorSup img {
  width: 32%;
  padding: 5px;  
}
#aclarado:hover{
  filter:opacity(.5);
}
.contenedorInf img {
  width: 32%;
  padding: 5px;
  height: 100%;/*es necesario especificarlo para q las fotos queden a la mitad*/
}

footer {
  clear: both;
  width: 100%;
  height:150px;
  
  background-color: rgb(78, 76, 76);
}
.iconos {
  float: left;
  width: 30%; 
}
.iconos img{
  height: 30px;
  width: 30px;
  margin: 2%;
}
.ubicacion {
  float: right;
  width: 33%;
  color: rgb(228, 228, 228);
  margin-top: 20px;
}
.menuFooter{
  float:right;
  width: 33%;
  color:rgb(228, 228, 228);
}
.menuFooter a{
  padding: 2%;
}
