body {
  background: linear-gradient(rgb(172, 234, 236), rgb(30, 98, 100));
  background-repeat: no-repeat;
  display: flex;
  min-height: 1000px;
  flex-direction: column;
  min-height: 100vh;/*indica que body tiene que adaptarse al tamaño de la ventana*/
}
.contenedor {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;/*complemento de position abs de footer*/
 
}
header {
  background-color: rgb(169, 235, 71);
}
section {
  background-color: rgb(171, 214, 200);
  text-align: center;
  flex: 1;
}
footer {
  background-color: black;
  color: azure;
  text-align: center;
  position: absolute; /*fija la posicion de footer*/
  bottom: 0;/*indica q no hay margen abajo para q este fijado en ese punto*/
  width: 100%;/*necesario porque position ab. hace que pierda sus medidas */
}
h2,h3,p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}
