div {
  background-color: rgb(16, 116, 255);
}
/*menu1*/
.menu1 ul {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.menu1 li {
  list-style: none;
  flex-grow: 6; /*ocupar espacio disponible*/
  padding: 2%;
  color: azure;
}

/*menu2*/
dl {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}
#caja {
  flex: 1;
  box-sizing: border-box;
}
dt {
  padding: 3%;
  color: azure;
  margin: 0;
}
i {
  width: 10%;
}
dd {
  color: azure;
  padding-bottom: 4%;
  font-size: small;
}

/*menu3*/
.menu3 ul {
  display: flex;
  list-style: none;
}
.menu3 li {
  flex-grow: 4; 
  padding: 2%;
  color: azure;
}
#anidado {
  display: none;
  position: absolute;
}

/*menu4*/
.menu4 ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;  
}
.menu4 li, .menu5 li{
  padding: 1%;
 
}
.menu4 a, .menu5 a {
  color: azure;
  text-decoration: none;
  width: 3%;
}
.menu4 ul li a[href*='facebook.com']::before, .menu5 ul li a[href*='facebook.com']::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f39e";
}
.menu4 ul li a[href*='twitter.com']::before,
.menu5 ul li a[href*='twitter.com']::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f099";
}
.menu4 ul li a[href*='youtube.com']::before, .menu5 ul li a[href*='youtube.com']::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f16d";
}
.menu4 ul li a[href*='instagram.com']::before, .menu5 ul li a[href*='instagram.com']::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f431";
}
.menu4 ul li a[href*='pinterest.com']::before, .menu5 ul li a[href*='pinterest.com']::before {
  font-family: "Font Awesome 5 Brands";
  content: "\f231";
}
.menu5{
  display: flex;
}
.menu5 .menu3{
  width: 70%;
}

#iconos{
  width: 30%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
#iconos li{
padding: 3%;
}
.menu5 .menu3 li:hover #anidado{
  display: block;
  background-color:rgb(255, 124, 76) ;
  padding: 1%;
  margin:1% 2%;
}
.menu5 .menu3 ul li:hover {
  background-color: rgb(1,1,185,0.974);
}

@media (max-width: 768px) {
  .menu1 ul {
    flex-direction: column;
    text-align: center;
  }
  .menu1 li {
    padding: 5%;
  }
  #caja {
    flex: 50%;
  }
  .menu3 ul {
    flex-direction: column;
    list-style: none;
    padding-left: 0%;
  }
  #anidado {
    display: flex;
    position: relative;
  }
  .menu3 li:hover {
    display: block;
    background-color: rgba(1, 1, 185, 0.974);
  }
  .menu3 #anidado li:hover {
    background-color: rgb(255, 124, 76);
  }
  .menu4 li {
    padding: 2%;
  }
  #iconos li {
    padding: 7%;
  }
}


