body{
    background: linear-gradient(rgb(172, 234, 236), rgb(30, 98, 100));
    background-repeat: no-repeat;
}
h2{
    text-align: center;
}
.contenedor{
    background-color: azure;
    width: 70%;
    margin-left: 15%;
}
#caja1,#caja3{
    display: flex;
    
    align-items: center; 
    padding: 2%;
}
#caja2{
    background-color: rgb(187, 236, 255);
    width: 70%;
    margin-left: 18% ;
    display: flex;
   
    align-items: center; 
    padding: 2%;
}
p{
    flex: 1;
    margin-left: 3%;
    
}
img{
    flex: 0 0 auto;
    
    
}
