.box{
    display: flex;
}

.simbolo{
    display: block;
}

.letras{
    margin-left: 5%;
}

#punto{
    background-color: black;
    border-radius: 100%;
    margin: 0 10% 0 10%;
    
}
#linea {
    border: none;
    border-left: 5px solid black;
    padding: 80% 0;
    margin-left: 30%;
    
}

