.box{
    display: flex;
    align-items: flex-start;
}
.simbolo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.letras{
    margin-left: 2%;
}
.punto{
    background-color: black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
}
.linea {
    border: none;
    border-left: 4px solid black;
    padding: 0;
    height: 70px; 
    margin-bottom: 20px;
}

